@import "tailwindcss";

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: var(--color-slate-50);
  color: var(--color-slate-900);
}